/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 50px;
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffcc00, #cc0000, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffcc00, #cc0000, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #8b9095;
  font-size: 14px;
  font-family: 'Marvel', sans-serif;
}

/*--------------------
App
--------------------*/

.app {
  position: relative;
  width: 80%;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 15px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.app h2 {
  color: #000000;
  font-size: 17px;
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 28px 0;
  margin: -6px 0 0 0;
}

.pagination{
  font-size: 40px;
  cursor:pointer;
  font-family: serif;
  font-weight: thin;
}

.col1:hover{
  text-shadow: 1px 1px 5px  #000000;
}

.col1:hover{
  text-shadow: 1px 1px 5px #000000;
}

.col3:hover{
  text-shadow: 1px 1px 5px #000000;
}

.col4:hover{
  text-shadow: 1px 1px 5px #000000;
}

/*--------------------
Header#1a2a6c
→ 
#b21f1f
→ 
#fdbb2d
--------------------*/
header {
  padding: 30px;
  position: relative;
  height: 70px;
}
header h1 {
      position: relative;
    top: -190%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color:  #000000;
}
header h1 strong {
  background: #F16018;
  color: #fff;
  display: inline-block;
  border-radius: 30px;
  padding: 6px;
  font-size: 83%;
  line-height: 1;
  position: relative;
  top: -1px;
  left: 2px;
}
header nav {
  cursor: pointer;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 28px;
  left: 28px;
}
header nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #363a47;
  border-radius: 2px;
  box-shadow: 0 5px 0 #363a47, 0 10px 0 #363a47;
}
header .search {
  position: absolute;
  top: 26px;
  right: 18px;
  cursor: pointer;
}
header .search svg {
  width: 20px;
  height: 20px;
}

/*--------------------
comics
--------------------*/
.comics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 18px;
  justify-content: space-around;
}

.comics .desc{
  display: none;
}

.comics .price {
  display:none;
}

.comics .comic {
  padding: 10px;
  cursor: pointer;
  width: 260px;
}
.comics .comic .poster {
  width: 195px;
  margin-bottom: 6px;
  border-radius: 4px;
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.comics .comic .poster:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.comics .comic .poster.active {
  opacity: 0;
}
.comics .comic .title {
  color: #3d3d3d;
    margin-bottom: 4px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: bolder;
    width: 260px;
    overflow: auto;
}
.comics .comic .info {
    font-size: 15px;
    opacity: .8;
    font-weight: bolder;
    color: #3d3d3d;
}

/* .comics .comic .desc {
  display: none;
} */

/*--------------------
Detail
--------------------*/
.detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 37px 30px 30px 255px;
  display: none;
}
.detail::before {
  content: '';
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
  transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .close {
  position: absolute;
  top: 21px;
  right: 22px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 6px solid rgba(255,255,255,255,0);
  box-sizing: content-box;
  z-index: 10;
}
.detail .poster {
  position: absolute;
  z-index: 2;
  top: -10%;
  left: -6%;
  height: 100%;
  border-radius: 5px;
   box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s cubic-bezier(0.67, 0.13, 0.1, 0.81);
  transition: all 0.5s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .title,
.detail .info,
.detail .desc,
.detail .play,
.detail .close {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
  transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .close {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.detail .title {
  font-size: 35px;
  font-weight: 300;
  color: #3d3d3d;
  margin-bottom: 5px;
}
.detail .info {
  font-size: 20px;
  opacity: 0;
  margin-left: 2px;
  color:#3d3d3d;
}
.detail.ready .desc{
    font-size: 20px;
    color: black;
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}

.detail.ready .price{
    margin-top: 30px;
    font-size: 20px;
    color: black;
}
.detail .play {
  background: -webkit-linear-gradient(left, #E4761F, #FF8B32);
  background: linear-gradient(90deg, #E4761F, #FF8B32);
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  padding: 8px 17px;
  margin: 30px 0 0 -2px;
  text-transform: uppercase;
  z-index: 10;
  outline: none !important;
  cursor: pointer;
  opacity: 0;
}
.detail .play svg {
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 3px;
}

.detail.ready::before {
  opacity: 1;
}
.detail.ready .info {
  opacity: .8;
}
.detail.ready .poster {
  opacity: 1;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}
.detail.ready .title,
.detail.ready .info,
.detail.ready .desc,
.detail.ready .play,
.detail.ready .close {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}
.detail.ready .title {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.detail.ready .info {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.detail.ready .desc {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.detail.ready .play {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}


input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

#searchBar {
  position: absolute;
  top: 16px;
}
#searchBar input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#searchBar input[type=search]:hover {
	background-color: #fff;
}
#searchBar input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#searchBar input:-moz-placeholder {
	color: transparent;
}
#searchBar input::-webkit-input-placeholder {
	color: transparent;
}


#loader{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  animation: dash 5s linear  infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 2000;
  }
  90% {
    stroke-dashoffset: 0;
  }
}

.path2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash2 5s linear  infinite;
}

@keyframes dash2 {
  60% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.main-stories{
  display: none;
  margin-top: 30px;
  font-size: 20px;
  color: black;
}
